@media (max-width: 320px) {
 
  h1 {
    margin-top: .25em;
    font-size: 2em;
  }

  h2 {
    margin: .1em 0;
    font-size: 1.4em;
    padding: 0;
  }

  header ul {
    margin: 0;
    padding-top: 2em;
    padding-left: .7em;
    top: 1em;
    font-size: .67em;
  }

  img.center {
    max-width: 18em;
    max-height: 18em;
  }

  .img-container {
    max-height: 7em;
  }


  .right { float: none; }
  .left { float: none; }

  #favorites section img {
    margin-bottom: 2em;
    margin-top: 2em;
  }

  #wrapper {
    max-width: 18em;
    margin: 0 auto;
  }

  #about-me header h1 {
    margin-left: -2.4em;
  }
  #resume header h1 {
    margin-left: -1.90em;
  }

  #contact header h1  {
    margin-left: -1.80em;
  }
  #favorites header h1 {
    margin-left: -1.2em;
  }
  #thanks header h1 {
    margin-left: -1.7em;
  }

  #home h1 {
    font-size: 1.75em;
  }
  #home h2 {
    font-size: 1em;
  }

  #home nav ul {
    margin-left: 0em;
    text-align: center;
    font-size: .75em;
  }
}
