@import url(https://fonts.googleapis.com/css?family=Ubuntu:700|PT+Sans);

body {
  font-family: "PT Sans", "Arial", sans-serif;
  color: #222;
  font-size: 16px;
  line-height: 1.5;
  background-color: #FDF3E7;
  margin: 0;
}

.headerPic {
  opacity: .85;
  height: 250px;
  width: 100%;
  position: relative;

}

#home {
  background-image: url("../img/ocean.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#home nav {

}

#home li{

}

#home a{

}

#home a:hover{

}


nav ul {
  margin-left: 20px;
  text-align: right;
  list-style: none;
  padding: 0px;
  position: absolute;
  top: 20px;
}

nav li {
  display: inline-block;
  margin: 0px 10px;
}

nav li:first-child {
  margin-right: 870px;
}



a {
  color:	white;
  text-decoration: none;
  text-transform: uppercase;
}

a:active {
  color: rgb(216, 86, 79);
  text-decoration: underline;
}

a:hover {
  color: #7BE;
  text-decoration: underline;
}

abbr {
  border-bottom: 1px dotted #222;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Ubuntu", "Arial", sans-serif;
}

h1 {
  font-size: 55px;
  color: white;
  position: absolute;
  top: 90px;
  left: 40%;
}

.fadeIn {
  animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s;
}

@keyframes fadeIn {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}

.fadeInUp {
  animation: fadeInUp 1s;
  -webkit-animation-name: fadeInUp 1s;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 25%, 0);
    transform: translate3d(0, 25%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

h2 {
  font-size: 40px;
  text-align: center;
  border-bottom: 1px lightgrey solid;
  margin-bottom: 50px;
}

h3 {
  margin: 10px 0 5px 0;
}

/*
p {
  margin: 5px 0px;
}

section > article {
  position: relative;
}

article:not(:last-child) {
  border-bottom: solid gray 1px;
}

address {
  font-style: normal;
}

address ul {
  list-style-type: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

address ul li {
  display: inline-block;
}

address ul li:not(:last-child):after{
  content: '|';
  padding: 0 5px;
}
*/



/*
.size {
  width: 100%;
}
.size * {
  display: inline-block;
}

.size:first-child {
  width: 70%;
}

.size:second-child {
  width: 30%;
}

.right { float: right; }
.left { float: left; }

*/
.text {
  margin: auto;
  max-width: 800px;
}

footer {
  font-weight: bold;
}

.center {
  text-align: center;
}
#wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

.bordered {
  padding: 0 15px;
}
